.recipe--container {
    display: flex;
    flex-direction:column;
    font-family: 'Dosis', sans-serif;
}


.recipe--one-container-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    height: 400px;
    margin-right: 2rem;
}

.recipe--two-container-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    height: 400px;
    margin-right: 2rem;
}

.recipe--three-container-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    height: 400px;
    margin-right: 2rem;
}

.recipe--container-text {
    width: 600px;
    text-align: center;
    font-size: 20px;
}

.recipe--button {
    background-color: #5435BA;
    color: white;
    width: 170px;
    height: 40px;
    border-radius: 15px;
    border: 0;
    cursor: pointer;
}
